.main-footer {
  display: grid;
  grid-area: main-footer;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.footer__content {
  position: relative;
  width: 100%;

  &--footer-heading {
    margin-top: 20rem;
    margin-bottom: 5rem;
    color: $color-primary;
    font-size: 3rem;
  }

  &--img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    text-align: center;
  }

  &--bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.7;
  }

  &--footer-icon {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4rem;
  }

  &--footer-icon li {
    list-style: none;
  }

  &--footer-item {
    width: 3.2rem;
    height: 3.2rem;
  }

  &--footer-icon li {
    //width: 140px;
    //height: 80px;
    margin: 4rem;
    line-height: 50px;
    border-radius: 50%;

    @media only screen and (max-width: $bp-mobile-l) {
      margin-left: 1rem;
    }

    @media only screen and (max-width: $bp-mobile-m) {
      margin-left: 1rem;
    }

    @media only screen and (max-width: $bp-mobile-s) {
    }
    margin-left: 1rem;
  }
  &--links {
    display: flex;
    justify-content: space-between;
    text-align: center;
    display: inline-block;
  }

  &--a-item {
    text-decoration: none;
    color: $color-primary;
    font-size: 2rem;

    @media only screen and (max-width: $bp-tablet) {
      font-size: 1.7rem;
    }

    @media only screen and (max-width: $bp-mobile-l) {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-mobile-m) {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-mobile-s) {
      font-size: 1.2rem;
    }
  }

  &--a-item:hover {
    color: $color-secondary;
  }
}
